[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=redis-dev.ro-bot.store>
Environment=catalogue-dev.ro-bot.store>
Environment=CATALOGUE_PORT=8080
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target